.all_countries_text{
    text-align: center;
}
.card3{
    background-color: #f5f5f5;
}
.bton{

    border: none;
    background-color: #3d54be;
    color: #d6e9fb ;
}
.card4{
    text-align: center;
    gap: 1vw;
    
    }